.pagination {
  display: flex;
  list-style: none;

  li + li {
    margin-left: 1rem;
  }
}

.paginationItemActive {
  background: none;
  font-weight: bold;
  border: none;
}

.paginationItemActive:focus {
  outline: none;
}
