.home {
  margin: auto;
  max-width: 90%;
  text-align: center;

  form {
    display: flex;
    margin-top: 2rem;
  }
}

.home .section {
  .articleTitle {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #3a8a9e;
    border-radius: 0.8rem;
    padding: 10px 0;
  }

  .card {
    background-color: #ededed;
    padding: 10px;
    border-radius: 0.8rem;

    .authors {
      text-transform: uppercase;
      font-weight: bold;
    }

    .type {
      text-transform: inherit;
    }

    .description {
      text-align: justify;
    }
  }

  span {
    float: right;
  }

  span img {
    width: 2rem;
    cursor: pointer;
  }

  .links a {
    text-decoration: none;
    transition: 1s;
  }

  .links a:hover {
    font-size: 18px;
  }
}

.icon {
  cursor: pointer;
}

.red {
  fill: red;
}

.gray {
  fill: gray;
}

.paginateDiv {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;

  .paginateButton {
    box-shadow: 3px 4px 0px 0px #899599;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 15px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #3a8a9e;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
  }

  .paginateButton:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
  }

  .paginateButton:active {
    position: relative;
    top: 1px;
  }
}
