.home {
  margin: auto;
  max-width: 90%;
  text-align: center;

  form {
    display: flex;
    margin-top: 2rem;
  }
}

.home .section {
  .articleTitle {
    display: flex;
    flex-direction: column;
  }

  span {
    float: right;
  }

  span img {
    width: 2rem;
    cursor: pointer;
  }

  .links a {
    text-decoration: none;
    transition: 1s;
  }

  .links a:hover {
    font-size: 18px;
  }
}
