.favorites {
  padding: 20px;

  .articleTitle {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #3a8a9e;
    border-radius: 0.8rem;
    padding: 10px 0;
  }

  .card {
    background-color: #ededed;
    padding: 10px;
    border-radius: 0.8rem;

    .authors {
      text-transform: uppercase;
      font-weight: bold;
    }

    .type {
      text-transform: inherit;
    }

    .description {
      text-align: justify;
    }
  }

  span {
    float: right;
  }

  span img {
    width: 2rem;
    cursor: pointer;
  }

  .links a {
    text-decoration: none;
    transition: 1s;
  }

  .links a:hover {
    font-size: 18px;
  }
}

.icon {
  cursor: pointer;
}
